{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">


<!-- Head -->
{% block head %}
    {% include 'head.html' %}
{% endblock %}
<!-- End Head -->


<body data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar">


<!-- Navbar -->
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
<!-- End Navbar -->


<!-- Sidebar -->
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}
<!-- End Sidebar -->


<div class="app-content content">
    <div class="content-wrapper">
{#        @yield('breadcrumbs')#}
        <div class="content-body">
            <section id="configuration">
{#                @yield('content')#}
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </div>
</div>


<!-- Footer -->
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
<!-- End Footer -->


<!-- Footerjs -->
{% block footerjs %}
    {% include 'footerjs.html' %}
{% endblock %}
<!-- End Footerjs -->


</body>
</html>

