{% block footer %}
    <footer  class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 content">
          <span style="text-align: center" class="d-block d-md-inline-block">Copyright &copy; 2018 <a href="https://nextdot.com.au"
                                                                                         target="_blank" class="text-bold-800 grey darken-2">NextDot </a>, All rights
            reserved. </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Made with <i class="ft-heart pink"></i></span>
        </p>
    </footer>
{% endblock %}
