{% load static from staticfiles %}
{% block navbar %}
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        <a href="index.html" class="navbar-brand">
                            <img alt="stack admin logo" width="100%" src="{% static 'stack/app-assets/images/logo/stack-logo-light.png' %}"
                                 class="brand-logo">
                            <!-- <h2 class="brand-text">NextInv</h2> -->
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block float-right"><a data-toggle="collapse" class="nav-link modern-nav-toggle pr-0"><i data-ticon="ft-toggle-right" class="toggle-icon ft-toggle-right font-medium-3 white"></i></a></li>
                    <li class="nav-item d-md-none">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div id="navbar-mobile" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto float-left">

                        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item nav-search"><a href="#" class="nav-link nav-link-search"><i class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input type="text" placeholder="Explore Stack..." class="input">
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                    <span class="avatar avatar-online">
                      <img src="#" alt="avatar"><i></i></span>
                                <span class="user-name">Lawyer app</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item"><i class="ft-user"></i> View Profile</a>
{#                                <a href="#" class="dropdown-item"><i class="ft-mail"></i> My Inbox</a>#}
    {#                            {{--<a href="#" class="dropdown-item"><i class="ft-check-square"></i> Task</a>--}}#}
    {#                            {{--<a href="#" class="dropdown-item"><i class="ft-message-square"></i> Chats</a>--}}#}
                                <div class="dropdown-divider"></div>
                                {% if user.is_authenticated %}
                                <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                    <a href="{% url 'posts:create' %}" class="dropdown-item" ><i class="ft-plus"></i>New Post</a>
                                    <input class="dropdown-item" type="submit" value="Logout">

                                </form>
                                {% else %}
                                    <a href="{% url 'accounts:login' %}" class="dropdown-item" ><i class="ft-power"></i> Login</a>
                                    <a href="{% url 'accounts:signup' %}" class="dropdown-item" ><i class="ft-power"></i> Signup</a>
                                {% endif %}

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
