{% extends 'base_layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{ post.title }}</h3>
<div class="card">
    <div><img src="{{ post.thumb.url }}" alt=""></div>
    <div class="card-content">
        {{ post.body }}
    </div>
    <div class="card-action">
        {{ post.created_at }}
    </div>
</div>
<a href="/" class="btn">Go Back</a>
<br><br>
<form action="{% url 'posts:update_post' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Update Post</button>
</form>

{% endblock %}