{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
<h3 class="center-align red lighten-3">{{ post.title }}</h3>
<div class="card">
    <div>
        {% if post.thumb %}
            <img src="{{ post.thumb.url }}" alt="">
        {% endif %}
    </div>
    <div class="card-content">
        {{ post.body }}
    </div>
    <div class="card-action">
        {{ post.created_at }}
    </div>
</div>
    <a href="{% url 'posts:post_list' %}">
        <button class="btn btn-info">Go Back</button>
    </a>

    <a href="{% url 'posts:update_post' post.id %}">
        <button class="btn btn-success">Edit Post</button>
    </a>

    <a href="{% url 'posts:delete_post' post.id %}">
        <button class="btn btn-warning">Delete Post</button>
    </a>


{% endblock %}

