{% extends 'base_layout.html' %}
{% block content %}
{#    {% if messages %}#}
{#        #}
{#<ul class="messages">#}
{#    {% for message in messages %}#}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endif %}#}
<h3 class="center-align red lighten-3">{{ title }}</h3>
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Post ID</th>
        <th>Post Title</th>
        <th>Post Body</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>
            <a class="btn btn-danger square fa fa-eye" href="{% url 'posts:post_details' post.id %}"></a></li>
        </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

{% endblock %}